@import url(https://fonts.googleapis.com/css?family=Roboto:310,400,700&display=swap&subset=cyrillic-ext);

@keyframes loading {
    0% {
        transform: translate(-50%) rotate(0)
    }

    100% {
        transform: translate(-50%) rotate(360deg)
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif
}

a {
    text-decoration: none
}

.btn {
    width: 220px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .3s all;
    outline: 0
}

.btn_white {
    background-color: #fff;
    margin: 50px auto;

}

.btn_dark {
    background-color: #303030;
    color: #fff;
    border: none
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3) !important
}

.modal-open {
    display: block;
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 310px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0
}

.modal .btn {
    display: block;
    width: 310px;
    margin: 0 auto
}

.order {
    padding-bottom: 80px
}

.order .title {
    text-align: center
}

.order__form {
    margin-top: 70px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.order__form img {
    transform: scale(1.5)
}

.order__input {
    width: 310px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0
}

.title {
    font-size: 36px;
    font-weight: 400
}


.modal-open {
    display: block;
    z-index: 1
}

.fixed {
    overflow: hidden
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden
}

body.sending {
    position: relative;
    overflow: hidden
}

body.sending::after {
    opacity: 1;
    visibility: visible
}

body.sending .loading {
    display: block
}

.loading {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    z-index: 1100;
    border: 5px solid rgba(255, 255, 255, .1);
    border-top: 5px solid #fff;
    border-radius: 100%;
    animation: loading 1s infinite linear
}

.message {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3)
}

.message-failure,
.message-success {
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 40px;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
    display: none
}

.message__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer
}

.message__title {
    text-align: center;
    font-size: 22px
}

.message.success,
.message.success .message-success {
    display: block
}

.message.failure,
.message.failure .message-failure {
    display: block
}

span.error {
    margin: 20px auto;
    width: 310px;
    font-size: 18px;
    text-align: center;
    padding: 0;
    color: red
}

.order__icon {
    margin-top: 15px;
}